/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

html { overflow-y: auto }

.text {
  color: #5D3E92;
  background-color: #D5C5E3;
}
.text-bg {
  background-color: #D5C5E3;
}
.melodie {
  color: #FFC107;
  background-color: #FFF9C4;
}
.melodie-bg {
  background-color: #FFF9C4;
}
.jugend {
  color: #4CAF50;
  background-color: #C8E6C9;
}
.jugend-bg {
  background-color: #C8E6C9;
}
.kinder {
  color: #EC407A;
  background-color: #F8BBD0;
}
.kinder-bg {
  background-color: #F8BBD0;
}
.it {
  color: #2196F3;
  background-color: #BBDEFB;
}
.it-bg {
  background-color: #BBDEFB;
}
.kleiner-kreis {
  color: #673AB7;
  background-color: #D1C4E9;
}
.kleiner-kreis-bg {
  background-color: #D1C4E9;
}
.allgemein {
  color: #9C27B0;
  background-color: #E1BEE7;
}
.allgemein-bg {
  background-color: #E1BEE7;
}
.grosser-ak-gesangbuch {
  color: #F44336;
  background-color: #FFCDD2;
}
.grosser-ak-gesangbuch-bg {
  background-color: #FFCDD2;
}
.layout {
  color: #607D8B;
  background-color: #CFD8DC;
}
.layout-bg {
  background-color: #CFD8DC;
}

.text-dark {
  color: #4D327C;
  background-color: #C5B5DB;
}
.text-bg-dark {
  background-color: #C5B5DB;
}
.melodie-dark {
  color: #E6A200;
  background-color: #FFED99;
}
.melodie-bg-dark {
  background-color: #FFED99;
}
.jugend-dark {
  color: #449945;
  background-color: #B2D8B3;
}
.jugend-bg-dark {
  background-color: #B2D8B3;
}
.kinder-dark {
  color: #D9366E;
  background-color: #F2AFC2;
}
.kinder-bg-dark {
  background-color: #F2AFC2;
}
.it-dark {
  color: #1E88E5;
  background-color: #AACCFF;
}
.it-bg-dark {
  background-color: #AACCFF;
}
.kleiner-kreis-dark {
  color: #5A2D8B;
  background-color: #B8ADDA;
}
.kleiner-kreis-bg-dark {
  background-color: #B8ADDA;
}
.allgemein-dark {
  color: #88279E;
  background-color: #D6AEE4;
}
.allgemein-bg-dark {
  background-color: #D6AEE4;
}
.grosser-ak-gesangbuch-dark {
  color: #DB312C;
  background-color: #FFB2B2;
}
.grosser-ak-gesangbuch-bg-dark {
  background-color: #FFB2B2;
}
.layout-dark {
  color: #546E7A;
  background-color: #B7C5CD;
}
.layout-bg-dark {
  background-color: #B7C5CD;
}