/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

html {
  overflow-y: auto;
}

.white-space-pre {
  white-space: pre-line;
}

.text {
  color: #5d3e92 !important;
  background-color: #d5c5e3 !important;
}
.text-bg {
  background-color: #d5c5e3 !important;
}
.melodie {
  color: #ffc107 !important;
  background-color: #fff9c4 !important;
}
.melodie-bg {
  background-color: #fff9c4 !important;
}
.jugend {
  color: #4caf50 !important;
  background-color: #c8e6c9 !important;
}
.jugend-bg {
  background-color: #c8e6c9 !important;
}
.kinder {
  color: #ec407a !important;
  background-color: #f8bbd0 !important;
}
.kinder-bg {
  background-color: #f8bbd0 !important;
}
.it {
  color: #2196f3 !important;
  background-color: #bbdefb !important;
}
.it-bg {
  background-color: #bbdefb !important;
}
.kleiner-kreis {
  color: #673ab7 !important;
  background-color: #d1c4e9 !important;
}
.kleiner-kreis-bg {
  background-color: #d1c4e9 !important;
}
.allgemein {
  color: #9c27b0 !important;
  background-color: #e1bee7 !important;
}
.allgemein-bg {
  background-color: #e1bee7 !important;
}
.grosser-ak-gesangbuch {
  color: #f44336 !important;
  background-color: #ffcdd2 !important;
}
.grosser-ak-gesangbuch-bg {
  background-color: #ffcdd2 !important;
}
.layout {
  color: #607d8b !important;
  background-color: #cfd8dc !important;
}
.layout-bg {
  background-color: #cfd8dc !important;
}

.text-dark {
  color: #4d327c !important;
  background-color: #c5b5db !important;
}
.text-bg-dark {
  background-color: #c5b5db !important;
}
.melodie-dark {
  color: #e6a200 !important;
  background-color: #ffed99 !important;
}
.melodie-bg-dark {
  background-color: #ffed99 !important;
}
.jugend-dark {
  color: #449945 !important;
  background-color: #b2d8b3 !important;
}
.jugend-bg-dark {
  background-color: #b2d8b3 !important;
}
.kinder-dark {
  color: #d9366e !important;
  background-color: #f2afc2 !important;
}
.kinder-bg-dark {
  background-color: #f2afc2 !important;
}
.it-dark {
  color: #1e88e5 !important;
  background-color: #aaccff !important;
}
.it-bg-dark {
  background-color: #aaccff !important;
}
.kleiner-kreis-dark {
  color: #5a2d8b !important;
  background-color: #b8adda !important;
}
.kleiner-kreis-bg-dark {
  background-color: #b8adda !important;
}
.allgemein-dark {
  color: #88279e !important;
  background-color: #d6aee4 !important;
}
.allgemein-bg-dark {
  background-color: #d6aee4 !important;
}
.grosser-ak-gesangbuch-dark {
  color: #db312c !important;
  background-color: #ffb2b2 !important;
}
.grosser-ak-gesangbuch-bg-dark {
  background-color: #ffb2b2 !important;
}
.layout-dark {
  color: #546e7a !important;
  background-color: #b7c5cd !important;
}
.layout-bg-dark {
  background-color: #b7c5cd !important;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: hsla(0, 0%, 89%, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(227, 227, 227, var(--tw-bg-opacity));
}

@media (min-width: 768px) {
  .scrollbar-trigger ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }

  .scrollbar-trigger:hover ::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
